<div class="col-lg-12 text-center my-2" style="color: white;">
    <h1>Lista total de PQR</h1>
</div>
<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Tipo</th>
            <th>Descripción</th>
            <th>Estado</th>
            <th>Fecha</th>
            <th>Usuario</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
        {{#each pqrs}}
        <tr>
            <td>{{this.idpqr}}</td>
            <td>{{this.tipo}}</td>
            <td>{{this.descripcion}}</td>
            <td>{{this.estado}}</td>
            <td>{{dateFormat fecha 'YYYY-MM-DD'}}</td>
            <td>{{this.fullname}}</td>
            <td>
                <form action="/listpqr/{{idpqr}}" method="POST">
                    <button type="submit" class="btn btn-primary">Revisado</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>